<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">
      <i class="material-icons text-primary">shop</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': show}" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="shopping-cart">Shopping Cart
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!appUser"> Login </a>
        </li>


      </ul>
      <ul class="navbar-nav mr-5">

        <li class="nav-item dropdown" ngbDropdown *ngIf="appUser">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{appUser?.displayName}}
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="my-orders">My Orders</a>
            <ng-container *ngIf="appUser?.isAdmin">
              <a class="dropdown-item" routerLink="admin/products">Products</a>
              <a class="dropdown-item" routerLink="admin/orders">Orders</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
        <li *ngIf="appUser?.photoURL">
          <div class="">
            <img width="40em" height="40em" [src]="appUser?.photoURL" class="rounded-circle img-thumbnail">
          </div>
        </li>
      </ul>

    </div>
  </nav>
</header>